.furniture-gallery-card {
  display: flex;
  flex-direction: column;
  height: 410px;
  margin-right: 10px;
  border: 2px solid #f4f5f7;
}

.furniture-gallery-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f5f7;
  width: 100%;
  height: 100%;
}

.gallery-thumb {
  width: 65%;
  height: 90%;
}

.furniture-gallery-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 9px 10px 9px;
}

.content-text {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

.content-line {
  width: 240px;
  background: #2a2a2a;
}

.services-item {
  color: #2a2a2a;
  padding: 10px;
  margin-right: 5px;
  border: 1px solid #2a2a2a;
}

.content-price {
  font-size: 17px;
  padding: 6px;
  margin-left: 83px;
  background-color: $color;
  color: white;
  font-weight: bold;

}