section {
  font-family: $font;
  padding: 0;
  margin: 0;
}

.stocks {
  margin-bottom: 60px;
}

.sofa-img {
  position: absolute;
  margin-right: 30px;
}

.sofa-overlay {
  position: relative;
  top: 30px;
  left: 30px;
  height: 355px;
  width: 489px;
  background-image: url(../img/stocks/sofa-overlay-1200.png);
}

.sofa-overlay-content {
  padding: 143px 227px 0 20px;
}

.sofa-overlay-title {
  margin: 0;
  font-size: 35px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 1px;
}

.sofa-overlay-subtitle {
  margin: 0;
  font-size: 60px;
  font-weight: bold;
  line-height: 1;
}
.sofa-overlay-price {
  display: inline-block;
  padding: 5px 20px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 44px;
  border: 5px solid white;
}

.chair-bg {
  background-color: #e8edf7;
}

.chair-bg-content {
  text-transform: uppercase;

}
.chair-bg-title {
  font-size: 31px;
  margin: 0;
}

.chair-bg-subtitle {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 0;
}

.chair-bg-price {
  font-size: 33px;
  font-weight: bold;
  color: $color;
  margin: 0;

}

.bed-bg {
  background-color: #fbf3f7;
}

.bed-bg-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 8px;
  text-transform: uppercase;
}

.bed-bg-title {
  font-size: 24px;
  font-weight: 300;
  color: $color
}

.bed-bg-price {
  font-size: 16px;
}

.bold-element {
  font-weight: bold;
}